﻿@model ShelterMS.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Genders.GenderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genders.GenderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecaesedReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecaesedReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Decaesed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Decaesed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InTake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InTake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WellCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WellCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neuter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neuter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnimalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
