﻿@model IEnumerable<ShelterMS.Models.Animal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genders.GenderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Species.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecaesedReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decaesed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InTake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WellCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neuter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genders.GenderType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Species.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecaesedReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decaesed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InTake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WellCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neuter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnimalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnimalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnimalID })
        </td>
    </tr>
}

</table>
