﻿@model ShelterMS.Models.Animal

@{
    ViewBag.Title = "Test";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-inline">
            <div class="form-group-row">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.GenderID,"Cinsiyet")
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("GenderID")
                    @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })
                </div>
             </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
