﻿@model ShelterMS.Models.Shot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animals.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animals.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotTypes.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotTypes.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShotTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShotID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
