﻿@model IEnumerable<ShelterMS.Models.Shot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animals.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShotTypes.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShotTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animals.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShotTypes.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShotTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShotID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShotID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShotID })
        </td>
    </tr>
}

</table>
