﻿@model List<ShelterMS.Models.Animal>
@{
    ViewBag.Title = "ListAnimals";


<h2>ListAnimals</h2>

    <div style="border:1px solid black;padding:25px;text-align:center;">
        <h2>Son Beş Makale</h2>
        -->
        @foreach (var item in Model)
        {
            <div style="border:1px solid black">
                <h3>@item.Name</h3>
                <p>@item.PreviousName</p>
                <strong>Tarih : @item.Name </strong>
            </div>
        }
    </div>
}
